.searchDiv {
/* From https://css.glass */
background: rgba(221, 158, 217, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.8px);
border: 1px solid rgba(221, 158, 217, 0.3);
max-width: 500px;
margin: auto;
padding-bottom: 10px;
}

h1 {
    color:brown;
	font-size: 40px;
}

body {
    text-align: center;
    margin-top: 400px;
    background: linear-gradient(to right, #b0d8ff, #ffa7a7);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#inputField {
    padding:7px 20px;
	font-size:15px;
    border-radius:6px;
    border-style: initial;
	display:inline-block;
    margin-right: 5px;
}

#searchButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#searchButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
#searchButton:active {
	position:relative;
	top:1px;
}

#notFoundMessage {
	color: crimson;
	background-color: darkgrey;
	max-width: fit-content;
	margin: auto;
}

#artistList {
    padding:7px 20px;
    margin-top: 5px;
	font-size:15px;
    border-radius:6px;
    border-style: initial;
	display:inline-block;
}

#infoTableHeader {
	text-align: center;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-radius: 4px;
    width: 100%;
	max-width: 1000px;
    margin: auto;
	margin-bottom: -20px;
	padding: 5px;
	font-size: 30px;
}

#infoTable {
    border-style: solid;
	border-radius: 4px;
    width: 100%;
	max-width: 1000px;
    margin: auto;
	font-size: 18px;
}

#pictureLink {
	background-color: #e5e5e5;
}

#albumTableHeader {
	text-align: center;
	border-radius: 4px;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-bottom: -20px;
	padding: 5px;
	font-size: 25px;
}


#albumTable {
	border-style: solid;
	border-radius: 4px;
    width: fit-content;
	max-width: 1000px;
    margin: auto;
	text-align: left;
	font-size: 20px;
}


#albumName {
	max-width: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

td {
    border-style: groove;
}

#bio {
    border-style: groove;
    padding: 10px 20px 10px 20px;
}

